CITYVOICE_DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/cityvoice
CITYVOICE_POSTGRES_HOST=127.0.0.1
CITYVOICE_POSTGRES_PORT=5432
CITYVOICE_POSTGRES_DB=cityvoice
CITYVOICE_POSTGRES_USER=postgres
CITYVOICE_POSTGRES_PASSWORD=postgres
MAIL_USERNAME=
MAIL_PASSWORD=
CITYVOICE_MAIL_SENDER=
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USE_SSL=
